.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#container {
  display: inline-block;
  text-align: center;
  width: 800px;
  height: 700px;
  margin-top: 60px;
  margin-left: 400px;
  border: dashed;
  border-radius: 15%;
  border-color: red;
  overflow: scroll;
}
h1, h3{
  font-family: fantasy;
}
h1{
  font-style: italic;
  font-size: 30px;
  text-decoration: underline;
  position: sticky;
}
h3{
  font-size: 170%;
}



@media only screen and (max-width: 800px) {
  * {
      font-size: 8px;
      width: 30%;
  }
}